[user]
    name = {{ full_name }}
    email = {{ git_email }}

[alias]
    s = status
    co = checkout
    ci = commit
    cia = commit --amend
    st = stash
    stp = stash pop
    rh = reset --hard
